#transform:hover {
    transform: scale(0.95);
    transition-duration: 0.5s;
    font-size: 0.995em;
}

#pic1 {
    color: black;
}

[type='radio'] {
    margin: 20px;
}

[type='checkbox'] {
    margin: 10px 0px 15px 0px;
    /* clockwise margin */
}

@media (min-width: 950px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        /* remove the gap so it doesn't close  */
    }
}