#transform:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
    font-size: 1.001em;
    background-color: transparent;
    /* background-color: whitesmoke;
    box-shadow: 0 0 0 5px rgb(238, 236, 236),
        0 0 0 10px rgb(197, 194, 194),
        0 0 0 15px rgb(136, 134, 134); */
}

#pic1 {
    color: black;
}

[type='radio'] {
    margin: 20px;
}

[type='checkbox'] {
    margin: 10px 0px 15px 0px;
    /* clockwise margin */
}

@media (min-width: 950px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        /* remove the gap so it doesn't close */
    }
}